.order-card {
  margin-bottom: 1rem;

  mat-card-header {
    margin-bottom: 0.5rem;
  }

  mat-card-title {
    font-size: 1.125rem;
    font-weight: 500;
  }

  mat-card-subtitle {
    font-size: 0.875rem;
  }
}

.order-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  font-size: 0.9375rem;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
