@use '@angular/material' as mat;

@include mat.core();

$bookstore-primary: mat-palette($mat-indigo);
$bookstore-accent: mat-palette($mat-blue-grey, 700, 500, 900);
$bookstore-warn: mat-palette($mat-red);

$bookstore-light-theme: mat-light-theme((
  color: (
    primary: $bookstore-primary,
    accent: $bookstore-accent,
    warn: $bookstore-warn,
  )
));

$bookstore-dark-theme: mat-dark-theme((
  color: (
    primary: $bookstore-primary,
    accent: $bookstore-accent,
    warn: $bookstore-warn,
  )
));

@include mat.all-component-themes($bookstore-light-theme);

.dark-theme {
  @include mat.all-component-colors($bookstore-dark-theme);
}
